
Viewed
@@ -0,0 +1,24 @@
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/instrumented
/cypress-coverage
.nyc_output
/reports

# production
/build

# misc
.DS_Store
/.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
